{% extends 'app/base.html' %}

{% block content %}
{%load static%}
<div class="user" id="user">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <header>

                    <div class="container">
                
                        <div class="profile">
                
                            <div class="profile-image">
                
                                {% if user.profile.profile_picture %}
                                <img  class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}" width="240px">
                               
                                {% else %}
                                    <img class="rounded-circle account-img" src="{% static 'img/default.png' %}" width="240px">
                                {% endif %}
                
                            </div>
                
                            <div class="profile-user-settings">
                
                                <h1 class="profile-user-name">{{ user.username }}_</h1>
                                <button id="edit-btn">
                                    <a class="btn profile-edit-btn" id="profile-edit-btn" data-toggle="modal" data-target=".bd-example-modal-md">
                                        
                                        Edit Profile
                                            
                            
                                        </a>
                                </button>
                            
                
                                <button class="btn profile-settings-btn" aria-label="profile settings">
                                    <i class="fa fa-cog" aria-hidden="true" width=35 height=25>

                                </i></button>
                
                            </div>
                
                            <div class="profile-stats">
                
                                <ul>
                                    <li><span class="profile-stat-count">{{images.count}}</span> posts</li>
                                    <li><span class="profile-stat-count">{{ user.profile.followers.count }}</span> followers</li>
                                    <li><span class="profile-stat-count">{{ user.profile.following.count }}</span> following</li>
                                </ul>
                
                            </div>
                
                            <div class="profile-bio">
                
                                <p><span class="profile-real-name" id="profile-real-name">{{user.username}}</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
                
                            </div>
                
                        </div>
                      
                
                    </div>
                  
                </header>

               
            </div>
        </div>
       
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        
                        {{ updateUserProfileForm}}
                        <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="card-columns" id="user_imgs">
        {% for image in images %}
            <div class="card" id="user-cards">
                <div class="card-body">
                    <img src="{{image.image.url}}" alt="{{image.caption}}" class="card-img">
                    <p id="overlay"class="text"> 
                            <i class="fa fa-heart" ></i> 
                            <span>{{image.likes.count}}</span>
                             <i class="fa fa-comment ml-4" ></i> <span style="color: white">{{image.comments.count}}</span></p>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}