{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{%load static%}
<div class="user" id="user">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        {% if user.profile.profile_picture %}
                        <img  class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}" width="240px">
                       
                        {% else %}
                            <img class="rounded-circle account-img" src="{% static 'img/default.png' %}" width="240px">
                        {% endif %}



                        
                    </div>
                    <div class="col-md-6 " >
                        <div class="media-body">
                            <div class="account-heading">
                                <span class="username-text">{{ user.username }}</span>
                                <br>
                                <a class="btn-edit" data-toggle="modal" data-target=".bd-example-modal-md"><strong>Edit Profile</strong></a>
                                <a href="{% url 'logout' %}" class="ml-3" id="log"> Logout
                                    <i class="fa fa-sign-out" id="logout-icon" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div class="details" id=>
                                <span class="mr-5"><strong>{{images.count}}</strong> Posts</span>
                                <span class="mr-5"> <strong>{{ user.profile.followers.count }}</strong> followers</span>
                                <span class="mr-5"> <strong>{{ user.profile.following.count }}</strong> following</span>
                            </div>
                            <h5>{{ user.profile.name }}</h5>
                            <p class="text-secondary">{{ user.profile.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        
                        {{ updateUserProfileForm|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="card-columns" id="user_imgs">
        {% for image in images %}
            <div class="card" id="user-cards">
                <div class="card-body">
                    <img src="{{image.image.url}}" alt="{{image.caption}}" class="card-img">
                    <p id="overlay"class="text"> 
                            <i class="fa fa-heart" ></i> 
                            <span>{{image.likes.count}}</span>
                             <i class="fa fa-comment ml-4" ></i> <span style="color: white">{{image.comments.count}}</span></p>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}