<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-10" align="center">

        <form id="post_form" method="post" action="" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="BIslOU7SxIFKhSbPZ99DH8DLNT5spoQiWvDlRdcjKrxGDrm2xnGgt9yHMZknmpAr">
        
            
            <p></p><h4>Caption</h4><p></p>
            
             <input type="text" name="caption" maxlength="2200" id="id_caption"> <br>
            
            <div class="pb-4"></div>
            <small> To submit a post, a photo must be attached to first image box! </small>
        
            <input type="hidden" name="form-TOTAL_FORMS" value="4" id="id_form-TOTAL_FORMS"><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"><input type="hidden" name="form-MIN_NUM_FORMS" value="1" id="id_form-MIN_NUM_FORMS"><input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
            
                
        
        <div id="div_id_form-0-modelimage" class="form-group"> <label for="id_form-0-modelimage" class="col-form-label  requiredField">
                        Image<span class="asteriskField">*</span> </label> <div class=""> <input type="file" name="form-0-modelimage" accept="image/*" class="clearablefileinput" id="id_form-0-modelimage"> </div> </div> <input type="hidden" name="form-0-id" id="id_form-0-id">
        
            
                
        
        <div id="div_id_form-1-modelimage" class="form-group"> <label for="id_form-1-modelimage" class="col-form-label  requiredField">
                        Image<span class="asteriskField">*</span> </label> <div class=""> <input type="file" name="form-1-modelimage" accept="image/*" class="clearablefileinput" id="id_form-1-modelimage"> </div> </div> <input type="hidden" name="form-1-id" id="id_form-1-id">
        
            
                
        
        <div id="div_id_form-2-modelimage" class="form-group"> <label for="id_form-2-modelimage" class="col-form-label  requiredField">
                        Image<span class="asteriskField">*</span> </label> <div class=""> <input type="file" name="form-2-modelimage" accept="image/*" class="clearablefileinput" id="id_form-2-modelimage"> </div> </div> <input type="hidden" name="form-2-id" id="id_form-2-id">
        
            
                
        
        <div id="div_id_form-3-modelimage" class="form-group"> <label for="id_form-3-modelimage" class="col-form-label  requiredField">
                        Image<span class="asteriskField">*</span> </label> <div class=""> <input type="file" name="form-3-modelimage" accept="image/*" class="clearablefileinput" id="id_form-3-modelimage"> </div> </div> <input type="hidden" name="form-3-id" id="id_form-3-id">
        
            
        
        <button type="submit" name="submit" class="btn btn-secondary btn-lg post">
        
            Post
        </button>
        </form>
        </div>
</body>
</html>